<nav>
  <button id='home-button'><%= link_to "Home", current_user ? authenticated_root_path : unauthenticated_root_path %></button>
  <h1>BudgetMap</h1>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete, id: "sign-out-button" %>
</nav>